.backgroundImg {
  width: 100%;
  height: 100vh;
  right: 0px;
  position:absolute;
  top: 0;
  z-index: -1;

}
#rebadge {
  background-color:rgb(255, 245, 233);
  border-radius:10px;
  font-weight: 300;
}
.main-content {
  position:relative;
  height:100vh;
  margin-top:100vh;
}
html,body {
  margin:0;
  padding:0;
  font-family: "DM Sans", sans-serif;
}
#head-content {
  width:100%;
  position: absolute;
  top:0;
  text-align:center;
  color:black;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: row;
  height:100vh;
  z-index: 5;
}

#headContent2 {

}
.navBar {
  position:relative;
  background-color: rgb(53, 53, 53);
  height:10vh;
  width:100%;
  top:0;
  color:white;
  display:flex;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  display: flex;
  z-index:50;
  align-items: center;
  justify-content: flex-start;
}
.navBar h4{
  font-size:20px;
}
.product h1 {
  margin:0;
  font-size:30px;
  margin-top:0px;
  margin-bottom:5px;
}
.product h4 {
  margin:0;
  margin-top:2px;
  font-weight:500;
  margin-bottom:7px;
  font-size:20px;
}
.product {
  border-radius: 25px;
  background-color:rgb(255, 247, 237);
  display:flex;
  margin-right:20px;
  margin-bottom:20px;
  padding:2px;
  align-items: center;
  flex-direction: column;
}
#featured {
  background-color: antiquewhite;
  height:auto;
}
.pimg img {
  height: 330px;
  overflow: hidden;
  width: 330px;
  margin:10px;
  border-radius: 25px;;
  object-fit: cover;
  transition: all .3s ease;
}
#about {
  background-color: rgb(247, 247, 247);
}
.pimg img:hover {
  transform: scale(1.02);
}

.primaryBtn {
  padding: 10px 25px 10px 25px;
  background-color:rgb(26, 26, 26);
  color:white;
  font-size:19px;
  font-weight: 400;
  border:none;
  border-radius:20px;
}
.secondaryBtn {
  padding: 10px 17px 10px 17px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-size: 21px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
}